description = "Contact Text Section"
==
<div class="row ftext">
				<div class="col-md-12">
				<a id="features"></a>
				<h3>We Care About Our Clients and Can Make Their Life Easier!</h3>
				<p>The main peculiarity of template is the striking presentation when visitors just need to use the scrolling option to find all necessary information about your web project. </p>
				</div>
				<div class="cBtn">
					<ul style="margin-top: 23px; margin-bottom: 0px; padding-left: 26px;">
						<li class="dowbload"><a href="#"><i class="fa fa-star"></i>View All Features</a></li>
						<li class="buy"><a href="#"><i class="fa fa-download"></i>Buy now!</a></li>
					</ul>
			</div>
			</div>