description = "Menu partial"
==
<div id="menuF" class="default">
		<div class="container">
			<div class="row">
				<div class="logo col-md-4">
					<div>
						<a href="#">
							<img src="{{ 'assets/images/logo.png'|theme }}" alt="logo"/>
						</a>
					</div>
				</div>
				<div class="col-md-8">
					<div class="navmenu" style="text-align: center;">
						<ul id="menu">
							<li class="active" ><a href="#home">Home</a></li>
							<li><a href="#about3">About</a></li>
							<li><a href="#project">Projects</a></li>
							<li><a href="#news">News</a></li>
							<li class="last"><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>