description = "News Section"
==
<div class="line4">
    <div class="container">
        <div class="row Ama">
            <div class="col-md-12">
                <h3>What&rsquo;s New?</h3>
                <p>Get the latest news from our blog</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row news">
        <div class="col-md-6  text-left">
            <img class="img-responsive picsGall" src="{{ 'assets/images/picNews/news1.jpg'|theme }}" alt="pic"/>
            <h3><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
            <ul>
                <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
            <hr class="hrNews">
        </div>
        <div class="col-md-6 text-right">
            <img class="img-responsive picsGall" src="{{ 'assets/images/picNews/news2.jpg'|theme }}" alt="pic"/>
            <h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
            <ul>
                <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
            <hr class="hrNews">
        </div>
    </div>
</div>
<div class="container">
    <div class="row news2 news">
        <div class="col-md-6 text-left">
            <img class="img-responsive picsGall" src="{{ 'assets/images/picNews/news3.jpg'|theme }}" alt="pic"/>
            <h3><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
            <ul>
                <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
            <hr class="hrNews">
        </div>
        <div class="col-md-6 text-right">
            <img class="img-responsive picsGall" src="{{ 'assets/images/picNews/news4.jpg'|theme }}" alt="pic"/>
            <h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
            <ul>
                <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
            <hr class="hrNews">
        </div>
    </div>
</div>
<div class="container">
    <div class="row news2 news">
        <div class="col-md-6 text-left">
            <img class="img-responsive picsGall" src="{{ 'assets/images/picNews/news5.jpg'|theme }}" alt="pic"/>
            <h3 ><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
            <ul>
                <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
            <hr class="hrNews">
        </div>
        <div class="col-md-6 text-right">
            <img class="img-responsive picsGall" src="{{ 'assets/images/picNews/news6.jpg'|theme }}" alt="pic"/>
            <h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
            <ul>
                <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
            <hr class="hrNews">
        </div>
    </div>
</div>



<div class="container hideObj2" style="display:none;">
    <div class="row news2 news">
        <div class="col-md-6 text-right">
            <img class="img-responsive picsGall" src="{{ 'assets/images/picNews/news6.jpg'|theme }}" alt="pic"/>
            <h3><a href="#">Nam in Nisl id Ipsum Feugiat Posuere ut sit Amet Sem</a></h3>
            <ul>
                <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
            <hr class="hrNews">
        </div>
        <div class="col-md-6 text-left">
            <img class="img-responsive picsGall" src="{{ 'assets/images/picNews/news5.jpg'|theme }}" alt="pic"/>
            <h3 ><a href="#">Lorem Ipsum Dolor sit Amet Pelenntesque Sodales!</a></h3>
            <ul>
                <li><i class="fa fa-calendar"></i>April 25, 2014</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. <a class="readMore" href="#">Read More <i class="fa fa-angle-right"></i></a></p>
            <hr class="hrNews">
        </div>
    </div>
</div>
<div class="container">
    <div class="row cBtn">
        <div class="col-md-12" style="text-align: center; margin-bottom: -90px; z-index: 10;">
            <ul class="mNews">
                <li class="dowbload bhide2"><a href="#"><i class="fa fa-arrow-down"></i>Load More news</a></li>
            </ul>
        </div>
    </div>
</div>